# Dependencies
node_modules/

# Build
dist/
.next/
out/

# Logs
*.log

# Environment
.env
.env.local

# WhatsApp session (VERY IMPORTANT)
auth/

# IDE
.vscode/

# OS d
.DS_Store
Thumbs.db
